body {
    background-color: #ddd;
}
.container {
    width:50%;
    margin: auto;  
}
#grid-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.valid,.bomb {
    height: 40px;
    width: 40px;
    background-color: rgb(92, 204, 238);
    border: 4px solid rgb(152, 82, 243);
    margin: 2px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-align: center;
}
.valid:hover,.bomb:hover{
  /* background-color: rgba(66, 113, 128, 0.973); */
  border: 4px solid rgb(92, 204, 238);
  background-color: rgb(152, 82, 243);
}
.checked {
    height: 40px;
    width: 40px;
    background-color: rgba(10, 134, 172, 0.24);
    border: 3px solid rgb(152, 82, 243);
    margin: 2px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
}
h1,h2{
    text-align: center;
}
#but{
  display: flex;
  justify-content: center;
}
#resetButton {
    background-color: rgba(19, 18, 17, 0.705);
    color: rgb(113, 202, 238);
    cursor: pointer;
    border: 2px solid black;
    border-radius: 5px;
    margin: 10px 50%;
    font-size: 25px;
    padding: 12px;
}
#resetButton:hover{
  color: rgba(19, 18, 17, 0.705);
  background-color: rgb(113, 202, 238);
}
/* .container {
    width: 500px;
    align-content: center;
  }
  
  .grid {
    height: 400px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: #dcd6bc;
    margin-left: 50px;
    margin-top: 20px;
    border: 10px solid #dcd6bc;
    margin-bottom: 10px;
  }
  
  div {
    font-size: 25px;
    text-align: center;
    font-family: "Roboto Mono", monospace;
  }
  .valid {
    height: 40px;
    width: 40px;
    border: 5px solid;
    border-color: #f5f3eb #bab7a9 #bab7a9 #fff9db;
    box-sizing: border-box;
  }
  
  .checked {
    height: 40px;
    width: 40px;
    border: 2px solid;
    background-color: #cecab7;
    border-color: #9c998d;
    box-sizing: border-box;
  }
  
  .bomb {
    height: 40px;
    width: 40px;
    border: 5px solid;
    border-color: #f5f3eb #bab7a9 #bab7a9 #fff9db;
    box-sizing: border-box;
  }
  
  .one {
    color: #e76346;
  }
  
  .two {
    color: #4199d3;
  }
  
  .three {
    color: #57da59;
  }
  
  
   */
 #result {
    margin-top: 5px;
    color: #e76346;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
  }
  #flag{
    margin-top: 13px;
    text-align: center;
    font-size: 27px;
    font-weight: 700;
  }
  /* .bomb {
    background-color: red;
    border: 4px red solid !important;
  } */
  